<div class="header">
  <div style="margin-left: 2rem;">
    <h1>Notes! <small>Demo</small></h1>
  </div>
  <div style="margin-right: 2rem;">
    <div>
      <button mat-stroked-button color="accent" (click)="getHealth()">Check Health</button>
    </div>
    <div style="margin-top: 1rem" *ngIf="health$ | async as health">
      <p *ngIf="health" style="margin-bottom: 0;">Healthy!</p>
      <p>API Version: {{health.version}}</p>
    </div>
  </div>
</div>
<div class="container">
  <app-note-taker style="margin-bottom: 2rem;"/>
  <app-list-view />
</div>
